.input-label{
  color: #fff !important;
}

.form-control:disabled{
  background-color: transparent;
  height: 42px;
}

.form-select:disabled {
  background-color: transparent;
}

.filterDiv {
  width: 92%;
  border-radius: 5px;
  border: 1px solid white;
}


